html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin: 0px;
    padding: 0px;
}

.root {
    min-height: 100vh; /* makes root fill the viewport */
    display: flex;
    flex-direction: column;
}

div.nav {
    background-color: #46c8f2;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo {
    width: auto;
    height: 100%;
    margin-left: 30px;
    display: inline-block;
}

.designer {
    font-style: italic;
    font-weight: 300;
}

.nav > .designer {
    display: flex;
    align-items: center;
}

.marRight {
    margin-right: 30px;
}

.mainNav {
    min-width: 250px;
    width: 50%;
    max-width: 400px;
    height: auto;
    margin: 0px auto 0px auto;
    display: inline-flex;
}

nav > a {
    background: none;
    color: #000000;
    font-weight: 500;
    width: 100px;
    height: auto;
    text-decoration: none;
    margin: 0px auto 0px auto;
    padding: 15px 0px;
    text-align: center;
    display: block;
}

a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: #ed1665;
}

a:active {
    background-color: #ed1665;
    color: #fff;
}

nav > a#youAreHere {
    background-color: #dd7299;
}

.hideMe {
    display: none;
}

footer {
    background-color: #46c8f2;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    display: flex;
}

footer > div {
    background: none;
    margin: 0px auto 0px auto;
    display: flex;
    align-items: center;
}

.footNav {
    width: 100px;
    margin-right: 30px;
    display: inline-flex;
}

.footNav > a {
    width: auto;
    height: inherit;
    padding: 10px;
    display: inline-flex;
}

.footNav > a > img {
    width: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.toTop {
    width: 100px;
}

/* Parent content container */
.container {
    min-width: 320px;
    width: 80%;
    max-width: 1500px;
    height: auto;
    margin: 50px auto auto auto;
    flex: 1;
}

.titleEmphasis {
    font-style: italic;
}

/* General Element Styles */
h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 7px;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 6px;
}

aside {
    width: 25%;
    height: auto;
    float: left;
}

aside > p {
    font-weight: 500;
    margin: 5px auto 8px auto;
    text-align: center;
}

img#portrait {
    width: 100%;
    height: auto;
}

p#email {
    font-size: min(1.5vw, 12pt);
}

.midNav {
    height: 75px;
    width: 80%;
    margin: 0px auto 15px auto;
    display: flex;
}

.midNav > a > img {
    width: auto;
    height: 100%;
    margin: 0px auto 0px auto;
    display: flex;
}

.about {
    width: 70%;
    padding: 15px 0px 50px 15px;
    float: right;
}

.about > p {
    margin: 20px auto 5px;
}

.about > ul {
    margin: 0px auto 20px;
}

.endSpace {
    width: 100%;
    margin-bottom: 100px;
}

/* Table */
table.week {
    min-width: 310px;
    width: 90%;
    max-width: 700px;
    border: 0px solid #000;
    margin: auto auto 25px auto;
}

.week > th {
    background-color: antiquewhite;
}

.week > td {
    border-bottom: 1px solid #a1a1a1;
}

.week {
    width: 90px;
    text-align: center;
}

/* Personas */
figure {
    width: 80%;
    margin: 10px auto 10px auto;
}

figure > img {
    width: 100%;
    padding: 10px;
}

figcaption {
    text-align: center;
    margin-bottom: 50px;
}

.column > img {
    width: 80%;
    margin: 10px auto 10px auto;
}

/* SVG Animations Grid */
.gridParent {
    width: 100%;
    height: auto;
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    align-items: center;
}

.exampleImage {
    width: 80%;
    margin: 10px auto 10px auto;
}

.largeButton {
    background-color: #46c8f2;
    margin: 5px auto 15px auto;
    padding: 15px;
    border: 5px solid #000;
    border-radius: 25px;
    display: inline-block;
}

/* Viewports */
@media screen and (max-width: 740px) {
    .container {
        width: auto;
        margin: 50px 5px 50px 5px;
    }

    .gridParent {
        width: 90%;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 449px) {
    body {
        font-size: 11pt;
    }

    .container {
        min-width: 320px;
        width: 100%;
        margin: 50px 0px 50px 0px;
    }

    .nav {
        font-size: 10pt;
    }

    .mainNav {
        min-width: 180px;
        width: 55%;
    }

    .logo {
        width: auto;
        height: 100%;
        margin-left: 10px;
        display: inline-block;
    }

    .marRight {
        margin-right: 10px;
    }

    .nav > .designer {
        width: 50px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .about {
        width: 65%;
        padding: 5px 10px 50px 10px;
        float: right;
    }

    aside > p {
        font-size: 11pt;
        margin: 5px auto 8px auto;
    }

    .midNav {
        height: 50px;
    }

    .toTop {
        width: 60px;
    }

    footer > div > p {
        font-size: 9pt;
        margin-top: 20px;
    }

    .footNav {
        width: 80px;
        margin-right: 10px;
    }

    .footNav > a > img {
        width: auto;
        height: 75%;
        margin-top: 5px;
        padding: 0px;
    }

    .gridParent {
        grid-template-columns: auto;
    }
}
