* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 5em auto;
}

.wrapper {
    width: 50%;
    height: auto;
    margin: auto;
}

#squiggles {
    fill: darkred;
    transform-origin: 50% 50%;
    animation: fadeInOut 1.5s linear 0.2s infinite alternate forwards,
        rotate 1.5s linear 0.2s infinite alternate;
}

#armL {
    transform-origin: 100% 100%;
    transform-box: fill-box;
    animation: flail 3s ease-in-out 0.2s infinite alternate both;
}

#armR {
    transform-origin: 0% 100%;
    transform-box: fill-box;
    animation: flail 3s ease-in-out 0.2s infinite alternate-reverse both;
}

#head {
    animation: bobbing 3s ease-in-out 0.2s infinite alternate both;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(5deg);
    }
}

@keyframes flail {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}

@keyframes bobbing {
    0% {
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
